// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bookers {
  padding-bottom: 5px;
}

.list-column-title {
  font-size: 14px;
  padding-left: 75px;
}

.list-column-body {
  font-size: 14px;
  padding-left: 165px;
}

.book-list {
  width: 100%;
  margin: 0 auto;
  padding: 5px 35px;
  font-size: 13px;
}

.book-comment {
  display: inline-block;
}

.book-title {
  width: 120px;
  padding-right: 20px;
  display: inline-block;
  orverflow-wrap: normal;
}

.book-body {
  width: 280px;
  display: inline-block;
  orverflow-wrap: normal;
  word-break: break-all;
}

.index-link {
  display: inline-block;
  color: #000;
  font-weight: normal;
  margin-left: 10px;
}

.create-box {
  padding: 15px 35px;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  padding-top: 10px;
}

.create-buttom {
  margin-top: 5px;
}


.show-box {
  margin: 40px 70px;
  font-size: 14px;
}

.title-box {
  margin-top: 30px;
}

.body-box {
  margin-top: 30px;
}

.table {
  font-weight: bold;
  display: inline-block;
}

.table-child {
  display: inline-block;
}

.link-box {
  padding-left: 40px;
  font-size: 14px;
}

.edit-link {
  display: inline-block;
  color: #000;
  font-weight: normal;
}

.back-link {
  display: inline-block;
  color: gray;
  font-weight: normal;
}

.show-link {
  display: inline-block;
  color: #000;
  font-weight: normal;
}

.link-box span {
  font-weight: normal;
}

.edit-head {
  padding-left: 40px;
}

.edit-box {
  padding-left: 40px;
}

.update-bottom {
  padding-top: 5px;
  padding-bottom: 10px;
}

.error-box{
  border: 2px solid red;
  margin: 10px 0;
}

.error-head {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
  padding-left: 15px;
  font-weight:bold;
  background-color: crimson;
}

.error-list {
  height: 100px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 35px;
  padding-left: 80px;
  background-color: whitesmoke;
}