// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-size: border-box;
}

h1 {
  font-size: 26px;
  padding: 25px 0 0 30px;
}

.top-text {
  font-size: 13px;
  padding-top: 5px;
  padding-left: 70px;
  line-height: 50px;
}

span {
  font-weight: bold;
}

.link-text {
  font-size: 14px;
  padding-left: 70px;
  padding-top: 10px;
  .start-link {
    color: gray;
  }
}  